function Node.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 4
push pointer 0
return
function Node.setWinner 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Node.isWinner 0
push argument 0
pop pointer 0
push this 4
return
function Node.setLeft 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Node.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Node.setRight 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Node.getRight 0
push argument 0
pop pointer 0
push this 2
return
function Node.setDown 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Node.getDown 0
push argument 0
pop pointer 0
push this 3
return
function Node.setUp 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Node.getUp 0
push argument 0
pop pointer 0
push this 1
return
